.InpSearchBox div {
    position: relative;
}

.InpSearchBox svg {
    position: absolute;
    top: 13px;
    right: 9px;
    font-size: 28px;
}

.InpSearchBox input {
    border: 1.5px solid rgb(185, 185, 185);
    border-radius: 15px;
    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    width: 100%;
}

.BoxCategor::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.BoxCategor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.BoxCategor::-webkit-scrollbar-thumb {
    background: #0b64a0;
    border-radius: 6px;
}

.BoxCategor::-webkit-scrollbar-thumb:hover {
    background: var(--main_color);
}

.ItemConsultant {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    margin: 0.8rem 0;
}

.ConsultantBG {
    width: 106px;
    height: 124px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(56, 56, 55, 0.1));
    border-radius: 0 28px 28px 0;
    overflow: hidden;
}

.ConsultantBG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.propertisConsultant {
    display: flex;
    align-items: center;
}

.propertisConsultant span {
    margin-right: 4px;
    color: var(--main_color);
    font-size: 13.5px;
}

.propertisConsultant svg {
    font-size: 14px;
    color: #9c9c9c;
}

.ConsultantScor {
    margin: 0.5rem auto 0 0.8rem;
    /* display: flex;
    align-items: center; */
}

.ConsultantScor span {
    background-color: #18bd55;
    padding: 0 0.25rem;
    border-radius: .375rem;
    color: #fff;
    font-weight: bold;
}

.ticketBox {
    background-color: #f3f6ff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 18px;
}

.ticketBox h5 {
    color: var(--main_color);
}

.ticketBox p {
    font-size: 13px;
    margin-top: 0.4rem;
}

.ticketBox div {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.ticketBox div button {
    border-radius: 10px;
    padding: 4px 0.8rem;
    text-align: center;
    border: 1px solid rgb(212 212 212);
    transition: 0.4s;
}

.ticketBox div button:hover {
    background-color: var(--main_color);
    color: #fff;
    transition: 0.4s;
}