.footerAppBox {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 0;
}

.propertisBoxFooter {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.propertisBoxFooter svg {
    font-size: 25px;
    color: #104e77;
}

.propertisBoxFooter span {
    font-size: 12px;
    color: black;
}