.headPage {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0.5rem;
}

.headPage span {
    display: block;
    margin: 0 auto;
}

.headPage svg {
    cursor: pointer;
    font-size: 24px;
}

.PersonalInformation {
    margin-top: 2rem;
    background-color: #fff;
    padding: 0.8rem .876rem;
    border-radius: 14px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.headInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid #c5c5c5;
    padding-bottom: 1rem;
}

.headInfo div a {
    display: flex;
    align-items: center;
    color: #2e9977;

}

.headInfo div a svg {
    margin-left: 4px;
}

.infItem {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.infItem span {
    display: block;
    font-size: 14px;
}

.infItem span:first-child {
    color: #687a86;
    width: 12rem;
}

.infItem span:last-child {
    width: 100%;
    background-color: #f8fafb;
    border-radius: 5px;
    padding: 5px;
}