.closePAge {
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.closePAge svg {
    border: 1px solid rgb(207, 207, 207);
    font-size: 35px;
    border-radius: 10px;
    padding: 4px;
}

.Hints {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    min-height: 195px;
    display: flex;
    flex-direction: column;
}

.pagenationHints {
    display: flex;
    justify-content: center;
    margin-top: auto;
    flex-direction: row-reverse;
}

.pagenationHints div span {
    margin: 0 1px;
    padding: 5px;
    display: block;
    background-color: rgb(239, 239, 239);
    border-radius: 100%;

}

.pagenationHints div .Active {
    background-color: var(--main_color) !important;
    padding: 5px 9px !important;
    border-radius: 5px !important;

}

.HandleControllHints {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.HandleControllHints svg {
    border: 1px solid var(--main_color);
    padding: 8px;
    border-radius: 100%;
    font-size: 32px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.4s;
}

.HandleControllHints svg:hover {
    background-color: var(--main_color);
    transition: 0.4s;
    color: #fff;
}


.btnPrevios {
    display: block;
    width: 100%;
    border-radius: 12px;
    padding: 5px 0;
    text-align: center;
    background-color: var(--main_color);
    color: #fff;
    transition: 0.4s;
}

.btnPrevios:hover {
    background-color: #052c47;
    transition: 0.4s;
}