.headPage {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0.5rem;
}

.headPage span {
    display: block;
    margin: 0 auto;
}

.headPage svg {
    cursor: pointer;
    font-size: 24px;
}

.InpForm input,
.InpForm textarea {
    border-radius: 12px;
    padding: 0.5rem;
    border: 1.2px solid rgb(230, 230, 230);
    display: block;
    width: 100%;
    outline: none;
}

.InpForm input:focus,
.InpForm textarea:focus {
    border: 1.2px solid rgb(79, 101, 239);

}

.InpForm div label {
    margin-bottom: 0.5rem;
    display: block;
}

.InpForm div {
    margin: 1rem 0;
}

.category {
    position: relative;
}

.category svg {
    position: absolute;
    top: 39px;
    left: 8px;
    cursor: pointer;
}

.category input {
    cursor: pointer;
}

.category ul {
    position: absolute;
    bottom: -56px;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid rgb(230, 230, 230);
    border-radius: 12px;
    z-index: 2;
    /* padding: 0 0.5rem; */
}

.category ul li {
    margin: 0 1rem;
    font-size: 14px;
    color: rgb(86, 86, 86);
    border-bottom: 1px solid #ebebeb;
    line-height: 40px;
    cursor: pointer;
}

.category ul li:last-child {
    border: none;
}
.fileUpload{
    display: flex;
    align-items: center;
    margin-right: 1rem !important;
    cursor: pointer;
}
.fileUpload svg{
    font-size: 28px;
    margin-right: 0.4rem;
}
.btnSendData {
    display: block;
    width: 100%;
    border-radius: 12px;
    padding: 5px 0;
    text-align: center;
    background-color: var(--main_color);
    color: #fff;
    transition: 0.4s;
}

.btnSendData:hover {
    background-color: #052c47;
    transition: 0.4s;
}