.BTNGallery button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main_color);
    border: 2px solid var(--main_color);
    color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
    transition: 0.4s;
}

.BTNGallery button:hover {
    transition: 0.4s;
    background-color: #dfdfdf;
    border-color: #dfdfdf;
    color: #000;
}

.BTNGallery button svg {
    margin-left: 0.3rem;
}

.form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field label {
    font-weight: 600;
    color: #444;
}

.field input[type="text"] {
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    font-size: 0.95rem;
    transition: all 0.2s ease;
}

.field input[type="text"]:focus {
    border-color: #4f46e5;
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

/* مخفی کردن input فایل */
.hiddenInput {
    display: none;
}

/* دکمه آپلود زیبا */
.uploadBtn {
    padding: 0.75rem 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--main_color_litgh);
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
}

.uploadBtn svg {
    margin-right: 0.3rem;
}

.uploadBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px var(--main_color);
}

.uploadBtn:active {
    transform: scale(0.97);
}

/* پیش‌نمایش */
.previewWrapper {
    margin-top: 0.8rem;
    text-align: center;
}

.preview {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 2px solid #eee;
}

/* دکمه ارسال */
.submitBtn {
    padding: 1rem;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--main_color);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.submitBtn svg {
    margin-left: 0.3rem;
}

.submitBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px var(--main_color);
}

.submitBtn:active {
    transform: scale(0.97);
}

.errorText {
    display: flex;
    align-items: center;
    color: rgb(251, 46, 46);
}

.errorText svg {
    margin-left: 0.3rem;
}

/* ERROR BACK */
.BgErr span {
    display: block;
    color: rgb(255, 39, 39);
    display: flex;
    align-items: center;
}

.BgErr span svg {
    margin-left: 0.3rem;
}

/* ERROR BACK */