.ItemConsultant {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    margin: 0.8rem 0;
}

.ConsultantBG {
    width: 200px;
    height: 124px;
    display: inline-flex;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(56, 56, 55, 0.1));
    border-radius: 0 28px 28px 0;
    overflow: hidden;
}

.ConsultantBG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}