.modalUpload {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    width: 70%;
    top: -550px;
    right: 230px;
    z-index: 4;
    visibility: hidden;
    transition: 0.4s;
    max-height: 500px;
    overflow-y: auto;
}

.bgModal {
    background-color: #00000060;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.activeModal {
    top: 100px;
    visibility: visible;
    transition: 0.4s;
}



.headModal {
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

.closeBtn svg {
    font-size: 25px;
    cursor: pointer;
}

.size {
    margin: 0 0.5rem;
}

.size svg {
    cursor: pointer;

}

.contentModal {
    display: flex;
    justify-content: space-between;
    min-height: 320px;
    padding: 0 0.8rem;
}

.sideBar {
    width: 20%;
    background-color: #000000c7;
}

.content {
    width: 78%;
}

.sideBar span {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.4rem 1rem;
    transition: 0.4s;
    color: #fff;
}

.sideBar span:first-child {
    margin-top: 0;
}

.sideBar span:last-child {
    margin-bottom: 0;
}

.sideBar span:hover {
    color: #626262;
    background-color: #cff2ee9e;
    transition: 0.4s;
}

.activeItem {
    color: #626262;
    background-color: #cff2ee9e;
}

.sideBar span svg {
    margin-left: 0.4rem;
}

.boxGallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
}

.imgGallery {
    cursor: pointer;
    position: relative;
}

.itemImg {
    margin: 1rem 0.5rem;
}

.imgGallery img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.imgGallery:hover>.bgImg {
    height: 100%;
    transition: 0.2s;
    visibility: visible;
}

.imgGallery .bgImg {
    background-color: #626262a5;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    visibility: hidden;
}

.imgGallery .bgImg {
    font-size: 13px;
    color: #fff;
    
}
.imgGallery .bgImg svg{
    margin-right: 0.4rem;
    font-size: 16px;
}