.headPage {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0.5rem;
}

.headPage span {
    display: block;
    margin: 0 auto;
}

.headPage svg {
    cursor: pointer;
    font-size: 24px;
}

.formAddConsultant {
    margin-top: 1rem;
}

.formAddConsultant input[type=text],
.formAddConsultant input[type=number],
.formAddConsultant textarea {
    border-radius: 12px;
    padding: 0.5rem;
    border: 1.2px solid rgb(230, 230, 230);
    display: block;
    width: 100%;
    outline: none;
}

.formAddConsultant input:focus,
.formAddConsultant textarea:focus {
    border: 1.2px solid rgb(79, 101, 239);

}

.ItemInpCons {
    margin: 1rem 0;
}

.labelInpSCons {
    margin-bottom: 0.5rem;
    display: block;
}

.fileUloudBox {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.5rem;
    border: 1.2px solid rgb(230, 230, 230);
}

.fileUloudBox svg {
    font-size: 28px;
    margin-right: 0.4rem;
}

.education {
    position: relative;
}

.education svg {
    position: absolute;
    top: 13px;
    left: 8px;
    cursor: pointer;
}

.education input {
    cursor: pointer;
}

.education ul {
    position: absolute;
    top: 46px;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid rgb(230, 230, 230);
    border-radius: 12px;
    z-index: 3;
    /* padding: 0 0.5rem; */
}

.education ul li {
    margin: 0 1rem;
    font-size: 14px;
    color: rgb(86, 86, 86);
    border-bottom: 1px solid #ebebeb;
    line-height: 40px;
    cursor: pointer;
}

.education ul li:last-child {
    border: none;
}

.relatedCategoriesDis {
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 4px;
    padding: 4px 6px;
    width: fit-content;
    margin: 8px;
}

.relatedCategoriesDis svg {
    color: rgb(239, 4, 4);
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
}

.ItemBirth {
    width: 100%;
    position: relative;
}

.DateBirth {
    display: flex;
    align-items: center;
}

.ItemBirth .InputDateBirth {
    border-radius: 12px;
    padding: 0.5rem;
    border: 1.2px solid rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.ModalDateBirth {
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 210px;
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
    top: 74px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
}

.ModalDateBirth ul li {
    border-bottom: 1px solid rgb(231, 231, 231);
    margin: 0.65rem 0.45rem;
    line-height: 40px;
    cursor: pointer;
}

.ModalDateBirth ul li:last-child {
    border-bottom: none !important;

}
.btnSendData {
    display: block;
    width: 100%;
    border-radius: 12px;
    padding: 5px 0;
    text-align: center;
    background-color: var(--main_color);
    color: #fff;
    transition: 0.4s;
}

.btnSendData:hover {
    background-color: #052c47;
    transition: 0.4s;
}